.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-top: 20px;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 10px;
}

.pagination button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination button:not(:last-child) {
  margin-right: 10px;
}

.pagination-info {
    display: flex;
    gap: 8px;
    align-items: center;
}
